/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html {
font-family: "Gotham SSm A";
font-size: 100%;
font-weight: 400;
line-height: 1.53333;
color: black;
background-color: #fff;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
letter-spacing: 0.05em;
 font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
  width: 100%;
  margin-top: 3em;
}
/*-----------------------Products-----------------*/
/*mobile*/
.flex-container {
   display: -webkit-flex;
   display: flex;
   -ms-flex-wrap: wrap;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
/*   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;*/
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
  
}

.wrap { 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.flex-container{
  width: 100%;
  padding: 0;
  margin: 0 0 2em 0;
  list-style-type: none;
}
 
.flex-container li{
  /*float: left;*/
/*  width: 33.3%;
  height: 56%;*/
  background-color: white;
  /*border: 10px solid #fff;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
 
.flex-container li a{
  display: block;
  width: 100%;
  background: transparent;
  

}
 
 .flex-container li a{
  display: block;
  width: 100%;
}
.flex-container img{
  max-width: 100%;
}

li.flex-item{
  border: none;
  position: relative;
}



/*-----------------------nav bar-----------------*/

.navbar{
    width: 100%;
    /*outline: 1px red solid;*/
    position: absolute;
    height: 4em;
    margin-top: -8em;
    
}
/*-----------------------brand-----------------*/

.flex-brand li{
  list-style-type: none;

}
.flex-brand{

   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
/*   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;*/
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;

}
/*-----------------------hide product description-----------------*/

.flex-item span{

  height: 0em;
  width: 0em;
  margin-top: -16em;
  position: absolute;
  z-index: 1000;
  /*outline: 1px red solid;*/
  background-color: rgba(255,255,255, 0.95);
  opacity: 0;
  color: black;
  overflow: hidden;
  transition: height 1s ease, width 1s ease, opacity 2s ease;
  line-height: 75%;
  text-align: center;
  

}


/*-----------------------show product description-----------------*/

.flex-item span.show{

  opacity: 1;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
span img{
  width: 100%;
  height: 100%;

}

h2{
  margin-top:2em;
  font-size: 1.2em;
  font-weight: 100;
  
}

p{
   line-height: 120%;
   width: 16em;
    text-align: center;
    margin-left: 2em;
}

/*-----------------------drop down-----------------*/

.cd-dropdown,
.cd-select {
    /*position: absolute;*/
    width: 20em;
    float: right;
    display: block;
}

.cd-dropdown > span {
    width: 100%;
    height: 3em;
    line-height: 5em;
    color: black;
    font-weight: 700;
    font-size: 1em;
    /*background: #fff;*/
    display: block;
    padding: 0 5em 0 2em;
    position: relative;
    cursor: pointer;
}

.cd-dropdown > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 5em;
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
    height: 70%;
    line-height: 24px;
    
}

.cd-dropdown.cd-active > span:after {
    content: '\25B2';
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    text-align: right;
    margin-top: 3em;
    width: 100%;
    background: rgba();
    line-height: 3em;
    padding: 0 30px 0 75px;
    display: block;
    color: #bcbcbc;
    cursor: pointer;
    font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
    padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}



/*All devices - inclusive*/

/*for phablet - inclusive*/
@media only screen and (min-width : 20em) {
  .container{
    width: 100%;

  }

.flex-container li{
  background-color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.flex-brand{
  margin-left: -2em;
}

.flex-item span.show{
  opacity: 1;
  width: 100%;
  height: 100%;
/*  width: 50em;
  height: 17em;*/
  /*line-height: 100%;*/
}

span img{
  width: 35em;
  margin-top: -10em;
}
h2{
  margin-top: 5em;
  font-size: 1.2em;
  font-weight: 100;

}

p{
   line-height: 120%;
   
}

}

/**/
/*for phablet - exclusive*/
@media only screen and (min-width : 20em) and (max-width : 39.99999em) {

  .container{
    width: 100%;

  }

.flex-container li{
  background-color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.flex-brand{
  margin-left: -2em;
}

.flex-item span.show{
  opacity: 1;
  width: 100%;
  height: 128%;
  background-size: 100%;
  cursor: pointer;

  /*line-height: 100%;*/
}
span img{
  cursor: pointer;

}




}


/*for tablet - inclusive*/
@media only screen and (min-width : 40em) {
  .container{
    width: 100%;

  }

.flex-container li{
  background-color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.flex-brand{
  margin-left: -2em;
}

.flex-item span.show{
  opacity: 1;
  width: 100%;
  height: 101%;
  
  background-size: 100%;
  cursor: pointer;
  /*line-height: 100%;*/
}


  h2{
  margin-top:2em;
  font-size: 1.2em;
  font-weight: 100;
  
}

p{
   line-height: 120%;
   width: 16em;
    text-align: center;
    margin-left: 4.5em;
}

}


/*for destop - inclusive*/
@media only screen and (min-width : 60em) {
  .container{
    width: 100%;
  }
  a .navbar-brand img{
    margin-left: 20em;
  }
  .flex-item span.show{
    opacity: 1;
    width: 100%;
    height: 101%;
    cursor: pointer;
    /*line-height: 100%;*/
  }

  span img{
  height: 122%;
  margin-top: -14em;
  }



  h2{
    margin-top:5em;
    font-size: 1.2em;
    font-weight: 100;

  }

  p{
  font-size: 0.9em;
   line-height: 120%;
   width: 16em;
   text-align: center;
   margin-left: 6.2em;
 }
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
